$btn-types:(
 primary, 
 secondary, 
 default, 
 info, 
 success,
 warning, 
 danger, 
 transparent, 
 frame
);



$btn-text-size: 14px !default;
$btn-text-weight: 500 !default;
$btn-line-height:20px !default;
$btn-text-spacing:0.5px !default;
$btn-text-color:#fafafb !default;