@use './btn' as btn;

.btn{
   display: inline-flex;
   gap: btn.$btn-layer-spacing;

   min-height: btn.$btn-layer-min-height;
   min-width: btn.$btn-layer-min-width;
   padding: btn.$btn-padding-y btn.$btn-padding-x;

   color: btn.$btn-text-color;
   border-radius: btn.$btn-layer-border-radius;

 // Normalize for tag <button>
    font: inherit;
    text-transform: none;
    background-color: transparent;
    border: 1px solid transparent;
    margin: 0;
    overflow: visible;
    cursor: pointer;
 //

    transition-property: background-color, color, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: ease;

    .btn-inner{
        font-size:btn.$btn-text-size;
        font-weight:btn.$btn-text-weight;
        line-height:calc(btn.$btn-line-height / btn.$btn-text-size );
        letter-spacing: calc(btn.$btn-text-spacing / btn.$btn-text-size)em;
    }

    .btn-icon {
        fill: currentColor;   
    }
}