@use 'sass:list';

@if list.index($btn-types, frame) {
    .btn-frame{
        border-color: #F07F2E;
    }

        &:active {
            border-color:#D14A00;
        }
    
        @media (hover:hover) {
            &:hover &:focus {
                border-color: #F15C27;
            }
        }
    
        &[disabled] {
            background-color: rgba(#b5b5be,0.5);
        }
}