@use 'sass:list';

@if list.index($btn-types, info) {
    .btn-info {
        background-color: #4E75FF;

        &:active {
            background-color: darken(#4E75FF, 10%);
        }

        @media (hover:hover) {
            &:hover &:focus {
                background-color: lighten(#4E75FF, 10%);
                box-shadow: 0px 4px 10px 0px #F07F2E40;
            }
        }

        &[disabled] {
            background-color: #B5B5BE;
        }
    }
}