@use 'sass:list';
@use '../btn' as btn;

@if list.index(btn.$btn-types, primary){
    .btn-primary{
        background-color: #F07F2E;

        &:active{
          background-color: #D14A00;
        }

        @media (hover:hover){
            &:hover
            &:focus{
                background-color: #F15C27;
                box-shadow: 0px 4px 10px 0px #F07F2E40;
            }
        }

        &[disabled] {
            background-color: #B5B5BE;
        }
    }
}