@use 'sass:list';

@if list.index($btn-types, secondary) {
    .btn-secondary {

        &:active {
            color: #D14A00;
        }

        @media (hover:hover) {
            &:hover &:focus {
                color: #F15C27;
            }
        }

        &[disabled]{
            color: #B5B5BE;
        }
    }
}