@use 'sass:list';

@if list.index($btn-types, success) {
    .btn-success {
        background-color: #82C43C;

        &:active {
            background-color: darken(#82C43C, 10%);
        }

        @media (hover:hover) {
            &:hover &:focus {
                background-color: lighten(#82C43C, 10%);
                box-shadow: 0px 4px 10px 0px #F07F2E40;
            }
        }

        &[disabled] {
            background-color: #B5B5BE;
        }
    }
}