@use 'sass:list';

@if list.index($btn-types, warning) {
    .btn-warning {
        background-color: #A461D8;

        &:active {
            background-color: darken(#A461D8, 10%);
        }

        @media (hover:hover) {
            &:hover &:focus {
                background-color: lighten(#A461D8, 10%);
                box-shadow: 0px 4px 10px 0px #F07F2E40;
            }
        }

        &[disabled] {
            background-color: #B5B5BE;
        }
    }
}